<% include ./partials/header %>
        <div class="container donate">
            <h1 class="featurette-heading">Fatherhood: The Life Of A Father</h1><br>
            <p class="lead">
                Sessions that provide open dialogue on what motivates and hinders 
                fathers/father figures in our community. During our monthly meetings we discuss the role of fatherhood 
                to create bonds and networking opportunities. Subject-matter experts are welcome to schedule a speaking 
                engagement at a session that will aid in building up men. Meetings are held on the 1st Thursday of every 
                month at the Family and Youth Service Center 1120 Government St. Baton Rouge, Louisiana 7pm.
            </p>
            <hr class="featurette-divider">
            <h1 class="featurette-heading">Tips & Ties</h1><br>
            <p class="lead">
                An initiative for kids, adolescents and adults that consists of discussions
                on various topics that affect young men and women today and a tie tying demonstration with distribution 
                of neck ties. Session Topics include: Conflict Resolution, Life after high school, Interview skills training, 
                Dress for Success, Self-respect/Respect  for others, Public Speaking, Common courtesy, Decision making and Consequences.
            </p>
            <hr class="featurette-divider">
            <h1 class="featurette-heading">Quarterly Solution Forums</h1><br>
            <p class="lead">
                A Community dialogue where we facilitate open discussions for community 
                members to share concerns and solutions about issues affecting the community and in turn educate them on available 
                community resources, services and personal growth that can aid in self-sufficiency and restoring the community.
            </p>
            <hr class="featurette-divider">
            <h1 class="featurette-heading">Real Men Read: Mentorship & School Visits</h1><br>
            <p class="lead">
                A reading initiative that is designed to deepen literacy 
                and promote a love for reading by Fathers and Father Figures by reading to our kids/students at home and school 
                regardless if you are the actual father or not. Men are needed to be a presence in schools to support education 
                and be a deterrent to negative behaviors.
            </p>
        </div>
    <hr class="featurette-divider">
<% include ./partials/footer %>